@using RealEstate_Dapper_UI.Dtos.ProductDtos
@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Yeni İlan Oluştur</h6>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"
                   placeholder="İlan Başlığı" asp-for="productTitle">
            <label for="floatingInput">İlan Başlığı</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"
                   placeholder="Şehir" asp-for="city">
            <label for="floatingInput">Şehir</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"
                   placeholder="İlçe" asp-for="district">
            <label for="floatingInput">İlçe</label>
        </div>

        <div class="form-floating mb-3">
            @Html.DropDownListFor(x => x.categoryId, (List<SelectListItem>)ViewBag.categoryDropDown, new { @class = "form-select" })
            <label asp-for="categoryId">Kategori</label>
        </div>

        <div class="form-floating mb-3">
            @Html.DropDownListFor(x => x.AppUserId, (List<SelectListItem>)ViewBag.employeeDropDown, new { @class = "form-select" })
            <label asp-for="AppUserId">Danışman</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"
                   placeholder="Fiyat" asp-for="price">
            <label for="floatingInput">Fiyat</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect" asp-for="type">
                <option value="Satılık">Satılık</option>
                <option value="Kiralık">Kiralık</option>
            </select>
            <label for="floatingSelect">Tür</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"
                   placeholder="İlan Görseli" asp-for="CoverImg">
            <label for="floatingInput">İlan Görseli</label>
        </div>

        <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="floatingInput"
                      placeholder="Adres" asp-for="address" rows="12"></textarea>
            <label for="floatingInput">Adres</label>
        </div>

        <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="floatingInput"
                      placeholder="Açıklama" asp-for="description" rows="12" style="height: 200px;"></textarea>
            <label for="floatingInput">Açıklama</label>
        </div>

        <div>
            <button type="submit" class="btn btn-primary rounded-pill"><i class="fa fa-plus me-2"></i>Oluştur</button>
        </div>

    </div>
</form>

