@using RealEstate_Dapper_UI.Dtos.PopularLocationDtos
@model IEnumerable<ResultPopularLocationsDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h3 class="mb-4 text-primary">Popüler Lokasyonlar</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width: 50px;" class="text-center">#</th>
                        <th scope="col" style="width: 50px;" class="text-center">Görsel</th>
                        <th scope="col" class="text-center">Şehir</th>
                        <th scope="col" class="text-center">Düzenle</th>
                        <th scope="col" class="text-center">Sitede Gör</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row" style="width: 50px;" class="text-center align-middle">@count</th>
                            <td><img class="rounded-3" src="@item.imageUrl" width="250" height="150" /></td>
                            <td class="text-center align-middle fw-bold fs-5">@item.city</td>
                            <td class="text-center align-middle" style="width:50px;"><a href="/PopularLocations/UpdatePopularLocations/@item.id" class="btn btn-primary rounded-pill"><i class="fas fa-edit"></i></a></td>
                            <td class="text-center align-middle" style="width:200px;"><a href="#" class="btn btn-info rounded-pill text-white">Sitede Gör</a></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
