@model RealEstate_Dapper_UI.Dtos.CategoryDtos.UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Kategori Düzenle</h6>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"
                   placeholder="Kategori Adı" asp-for="categoryName">
            <label for="floatingInput">Kategori Adı</label>
            <input type="hidden" asp-for="categoryStatus" />
            <input type="hidden" asp-for="categoryId" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary rounded-pill"><i class="fa fa-plus me-2"></i>Kaydet</button>
        </div>

    </div>
</form>





