@model RealEstate_Dapper_UI.Dtos.BottomGridDtos.UpdateBottomGridDto
@{
    ViewData["Title"] = "UpdateBottomGrid";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Öne Çıkan Düzenle</h6>
        <input type="hidden" asp-for="bottomGridId" />
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"
                   placeholder="Başlık" asp-for="bottomGridTitle">
            <label for="floatingInput">Başlık</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"
                   placeholder="Açıklama" asp-for="bottomGridDescription">
            <label for="floatingInput">Açıklama</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"
                   placeholder="İkon" asp-for="bottomGridIcon">
            <label for="floatingInput">İkon</label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary rounded-pill"><i class="fa fa-plus me-2"></i>Kaydet</button>
        </div>

    </div>
</form>



